/*==============================ОБЩИЕ СТИЛИ===============================*/

:root {
    --white: #FFFFFF;
    --black: #000000;
    --light-gray: #F2F0F1;
    --medium-gray: #F0EEED;
    --neutral-gray: #F0F0F0;
    --yellow: #FFC633;
    --red: #FF3333;
    --green: #01AB31;
} 


body {
    font-family: 'Satoshi';
    font-weight: 400;
    font-size: 16px;
    overflow-x: hidden;

}

input {
    background-color: inherit;
    border: none;

}

input:focus {
    outline: none;
}


ul{
    list-style: none;     
    margin: 0;           
    padding: 0; 
}
a {
    text-decoration: none;
    color: inherit;
    transition: all 0.4s ease;

}

.wrapper {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1270px;
}

.button {
    border-radius: 62px;
    transition: all 0.4s ease;
}

.button:hover {
    transform: scale(1.1);
}

.tittle {
    font-family: 'Integral CF';
    font-weight: 700px;
    font-size: 48px;
    line-height: 100%;

}

.visually-hidden

/*=====================================HEADER========================================*/
/*====================================HEADER TOP=====================================*/

.header {

}
.header-buttons-wrap {
    justify-content:space-between;
    gap: 19px;
}

.header-buttons-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 0;
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 24px;
    height: 24px;
    display: none;
    border: none;
    background-color: inherit
}
.header-menu svg path{
    fill: var(--black);
}
.header-top {
padding: 24px 15px;
display: flex;
justify-content: space-between;
align-items: center;
gap: 40px;
flex-wrap: wrap;

}
.header-top-logo {
    will-change: transform;
}
.header-top-logo:hover {
    transform: scale(1.05);
}

.header-top-logo svg path { /* анимацию сюда */
    opacity:1;
    transition: opacity 0.4s ease;
    
}
.header-top-logo:hover svg path {
    opacity: 0.6;
}
.header-top-nav {
}
.header-top-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;

}
.header-top-item {
    line-height: 100%;
    will-change: transform;
    transition: transform 0.4s ease;
}
.header-top-item:hover {
    transform: translateY(-2px);
}
.header-top-item-link { /* анимацию сюда */
    opacity: 1;
}
.header-top-item-link:hover {
    opacity: 0.6;

}
.wrap-search-info{
    width: 53.46%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}



.header-top-search-wrap {
    width: 100%;
}
.header-top-search-icon {
    width: 100%;
    display: flex;
    padding: 12px 5px 12px 16px;
    border-radius: 62px;
    border: none;
    gap: 12px;

}

.header-top-search-icon:hover svg path{

}

.search-svg-wrap{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-top-search-input {


}
.header-top-search-input:focus {
}


.header-top-user-interaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}

.search-for-576px{
    display: flex;
    display: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: inherit;
    border: none;
    padding: 2px;
    will-change: transform;
    transition: all 0.4s ease;
}

.search-for-576px {
    transform: scale(1.1);
}

.header-top-interaction-CartLink { /* анимацию сюда */
    display: flex;
}
.header-top-interaction-user { /* анимацию сюда */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    border: none;
    background-color: inherit;

}

/*===========================Header body====================================================*/
.header-body {
    background-color: var(--light-gray);
}
.header-body-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 26px;

}
.header-body-content-wrap {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 103px 0 116px 0;
}
.header-body-text_button-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.header-body-content-title {
    font-size: 64px;
}
.header-body-content-text {
    line-height: 22px;
    opacity: 0.6;
}
.header-body-ShopNow-button {
    background-color: var(--black);
    border-radius: 62px;
    color: var(--white);
    font-weight: 500;
    line-height: 100%;
    padding:16px 54px 16px 54px;

}

.header-body-differences {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
}
.heade-body-differences-block {
    display: flex;
    flex-direction: column;
}



.heade-body-differences-number {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: var(--black);
    padding: 7px 0;
}
.heade-body-differences-detail {
    line-height: 22px;
    opacity: 0.6;
}
.decortion-stroke {
    width: 0.75px;
    height: 74px;
    background-color: #0000001A;
}
.header-body-image-wrap {
    display: flex;
    position: relative;
    width: 609px;
    height: auto;
}
.header-body-img {
width: 100%;
height: 100%;
}
.black-star {
    position: absolute;
}
.star-position-1{
    top: 13%;
    left: 82.9%;
}
.star-position-2{
    top: 44.8%;
    left: 0;
}
.header-end {
    background-color: var(--black);
}
.header-end-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 44px 0 44px 0;
    gap: 34px;
    
}
.header-end-block {
}

.Versache-svg{
    width: 167px;
    height: 34px;
}
.zara-svg{
width: 91px;
height: 38px;
}
.gucci-svg{
    width: 156px;
    height: 33px;
}
.prada-svg{
 width: 194px;
 height: 32px;
}
.Calvin-svg{
 width: 207px;
 height: 34px;
}
.star-settings-1{
width: 104px;
height: 104px;
}
.star-settings-2{
width: 56px;
height: 56px;
}
/*============================MAIN=================================*/
/*============================S-C==================================*/
.main {
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.main-section-CatalogPrimary {
    padding: 72px 0 0px 0;
}
.wrapper {
}
.for-section-CatalogPrimary{
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.section-for-Catalog {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 36px;
}
.NewArrivals {
}
.for-Arrivals{
    padding-bottom: 19px;
}
.flex-wrap-for-catalog {
    display: flex;
    gap: 20px;
}
.product-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


/**/
.product-card-image-block {
    width: 295px;
    height: 298px;
    overflow: hidden;
    border-radius: 20px;
}
.product-card-image {
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
}
/**/
.product-card-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.product-card-name {
}
.product-card-rating-wrap {
    display: flex;
    gap: 13px;
}
.product-card-rating-star-wrap {
}
.product-card-rating-valuation-wrap {
    display: flex;
}
.product-card-rating-valuation {
}
.product-card-rating-of {
}
.product-card-rating-of-number {
}
.product-card-price-wrap {
    display: flex;
    justify-content: space-between;
    width: 68.5%;
}
.product-card-price {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: var(--black);
}
.product-card-price-past-priсе {
    font-weight: 700;
    font-size: 24px;
        line-height: 100%;
    opacity: 0.4;
    display: none;

}
.product-card-price-sell {
    background-color: #FF33331A;
    border-radius: 62px;
    color: var(--red);
    font-size: 12px;
    line-height: 100%;
    padding: 6px 14px 6px 14px;
    display: none;

}

.ViewAll-button-wrap {
}
.ViewAll-button {
    width: 218px;
    padding: 16px 54px 16px 54px;
    border-radius: 62px;
    border: 1px solid #0000001A;
    background-color: inherit;
    color: var(--black);
    line-height: 100%;
    font-weight: 500;
    font-size: 16px;
}
.decoration-stroke {
    height: 0.75px;
    background-color: #0000001A;

}
.TopSelling {
}

.for-top-selling{
    padding-bottom: 19px;
}

/*=======================================*/




.section-for-DressStyle {
}

.for-dress-style{
    border-radius: 40px ;
    background-color:var(--neutral-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding: 70px 64px 76px 64px;

}
.flex-DressStyle {
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.flex-DressStyle-row{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: 289px;
    width: 100%;
}
.flex-DressStyle-item {
        background-color: var(--white);
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        padding: 25px 36px;
}
.Casual {
    background-image: 
        url('../image/casual-back.png');
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: 30% 35%; 
    border-radius: 20px;
    width: 32.05%;
    transform: scaleX(-1);
    
}
.rotate-back{
    transform: scaleX(-1);
}

.Formal {
    background-image: url('../image/formal-back.png');
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: -60% 25%; 
    width: 684px;
    border-radius: 20px;
}
.Party {
    background-image: url('../image/party-back.png');
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: -84% 50.7%; 
    width: 684px;
    
    border-radius: 20px;

}
.Gym {
    background-image: url('../image/gym-back.png');
    background-size:110%;
    background-repeat: no-repeat;
    background-position: -142% 38%;; 
    width: 32.05%;
    border-radius: 20px;
}

.visible{
    display: block;
}



/*Адаптив*/

@media (max-width: 1270px) {
    /*h-t*/
    .header-top{
        justify-content: center;
    }
    .wrap-search-info{
        width: 45.299%;
    }
    /*h-b*/
        .header-body-image-wrap {
            width: 488px;
            height: 532px;
    }
    .header-body-content-wrap {
        padding: 25px 0 0px 0;
        gap: 40px;
    }
    .header-body-text_button-content {
        gap: 27px;
    }
    .header-body-content-title{
        font-size: 54px;
    }
    .header-body-content-text{
        font-size: 14px;
    }
    .header-body-differences {
        gap: 20px;
    }
    .decortion-stroke{
        height: 62px;
    }
    .heade-body-differences-number{
        font-size: 34px;

    }
    .heade-body-differences-detail{
        font-size: 14px;
    }
    .card-first{
    }
    .card-second{

    }
    .card-third{

    }
    .card-fourth{
    }

}

@media (max-width: 1045px) {
/*=========================h-b=====================================*/
    .header-end-wrap {
        justify-content: center;
        padding: 44px 0;
    }
    .header-end-wrap {
        padding:  44px 153px 44px 153px;

    }
            .header-body-image-wrap {
                margin: 0 17px;
    }
    .header-body-wrap {
        justify-content: center;
    }
    .ShopNow-link-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
}
.header-body-content-title, .header-body-content-text {
    text-align: center;
}
.header-body-content-wrap {
    padding-top: 40px;
}
    
}


@media (max-width: 992px) {
    /*h-t*/
    /*h-b*/
}
@media (max-width: 768px) {
    /*h-t*/
    .header-top-nav {
        display: none;
    }
    .header-menu {
        display: block;
    }
    .header-top {
        justify-content: space-between;
        gap: 20px;
    }
    .wrap-search-info{
        width: 52%;
        padding-right: 40px;
        gap: 12px;
    }
    /*h-b*/
        .header-end-wrap {
        padding:  44px 15px 44px 15px;

    }
    .star-settings-1{
width: 76px;
height: 76px;
}
.star-settings-2{
width: 44px;
height: 44px;
}
}
@media (max-width: 576px) {
    /*h-t*/
        .header-top-user-interaction{
        justify-content: space-between;
        gap: 12px;
        width: 25%;
    }
    .search-for-576px{
        display: block;
    }
    .search-for-576px svg path{
        fill-opacity: var(--black);
    }
    .header-top-search-wrap {
        display: none;
    }

    .wrap-search-info{
        width: auto;
    }



    .header-top {
        justify-content: space-between;
    }
    .wrap-search-info{
        width: auto;
    }

    /*h-b*/
                .header-body-image-wrap {
            width: 430px;
            height: auto;
    }
    .header-body-differences {
        justify-content: center;
    }
    .Calvin-svg{
        width: 135px;
        height: 22px;
    }
    .prada-svg{
        width: 127px;
        height: 21px;
    }
    .gucci-svg{
        width: 110px;
        height: 26px;
    }
    .zara-svg{
        width: 64px;
        height: 27px;
    }

    .Versache-svg{
        width: 117px;
        height: 24px;
    }
    .header-end-wrap{
        padding-left: 0;
        padding-right: 0;
        gap: 32px;
    }
    .header-end-block{
        margin: 0 8px;
    }
            .header-body-content-title{
        font-size: 38px;
        line-height: 34px;
    }
    .header-body-content-text{
        font-size: 16px;
        line-height: 20px;
    }
    .decortion-stroke{
        height: 54px;
    }
    .heade-body-differences-number{
        font-size: 26px;

    }
    .heade-body-differences-detail{
        font-size: 14px;
    }
    .header-body-wrap{
        gap: 0px;
    }
}
@media (max-width: 480px) {
    /*h-t*/
    .header-body-content-title, .header-body-content-text {
        text-align: start;
    }

            .header-body-image-wrap {
        min-width: 390px;
        height: auto;
    }
        .header-end-block{
        margin: 0 0px;
    }
        .ShopNow-link-wrapper {
        justify-content: center;
        width: 100%;
    }
    .ShopNow-link{
        width: 100%;
        margin: 0 10%;
    }
    .header-body-ShopNow-button{
        width: 100%;
    }
            .header-body-content-title{
        font-size: 36px;
        line-height: 34px;
    }
    .header-body-content-text{
        font-size: 14px;
        line-height: 20px;
    }
    .decortion-stroke{
        height: 52px;
    }
    .heade-body-differences-number{
        font-size: 24px;

    }
    .heade-body-differences-detail{
        font-size: 12px;
    }
    .header-body-wrap{
        gap: 0px;
    }

    .star-position-1{
    top: 13%;
    left: 74.9%;
}

    .star-position-2{
    top: 44.8%;
    left: 10%;
}
.header-body-content-wrap{
    gap: 20px;
}
    /*h-b*/
    .wrap-search-info{
        padding-right: 20px;
    }
    .last {
    display: none;
}
}

@media (max-width: 390px) {

    .star-position-2{
    top: 44.8%;
    left: 10%;
}

    .star-position-1{
    top: 13%;
    left: 74.9%;
}

}

